<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home/tabs/today-appointments"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="createAppoint()" [disabled]="!form.valid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">New Appoint</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-grid>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Phone</ion-label>
          <ion-input type="text" formControlName="phone"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-button slot ="start" id="open-date-input-2">
            <ion-icon icon="calendar"></ion-icon>
          </ion-button>
          <ion-input [value]="date | date: 'EEE, MMM dd'" slot="start"></ion-input>
          <ion-input [value]="hour | date: 'shortTime'" slot="end"></ion-input>
          <ion-popover trigger="open-date-input-2" show-backdrop="false">
            <ng-template>
              <ion-datetime
                #popoverDatetime
                #popoverHour
                presentation="date-time"
                (ionChange)="[date = popoverDatetime.value, hour = popoverHour.value]"
                formControlName="date"
                showDefaultButtons ="true"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Service</ion-label>
          <ion-input type="text" formControlName="service"></ion-input>
        </ion-item>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>
