<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Appointment Book</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-button slot="start" id="open-date-input-2">
            <ion-icon icon="calendar"></ion-icon>
          </ion-button>
          <ion-input
            [value]="date | date: 'dd-MM-yyyy'"
            [(ngModel)]="date"
            clearInput
          ></ion-input>
          <ion-popover trigger="open-date-input-2" show-backdrop="false">
            <ng-template>
              <ion-datetime
                #popoverDatetime
                #popoverHour
                presentation="date"
                (ionChange)="date = formatDate(popoverDatetime.value)"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col
        size="4"
        size-sm="6"
        offset-sm="3"
        *ngFor="let appoints of appoints | filter:  date"
      >
        <ion-item [routerLink]="['/', 'appointments-details', appoints.id]"
          >{{appoints.hour}}</ion-item
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>Today</ion-item>
</ion-content>
<!-- <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-button slot="start" id="open-date-input-2">
            <ion-icon icon="calendar"></ion-icon>
          </ion-button>
            <ion-input [value]="date | date: 'dd-MM-yyyy'" [(ngModel)]="date" clearInput></ion-input>
          <ion-popover trigger="open-date-input-2" show-backdrop="false">
            <ng-template>
              <ion-datetime
                #popoverDatetime
                #popoverHour
                presentation="date"
                (ionChange)="date = formatDate(popoverDatetime.value)"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-list>
          <ion-item-sliding
            *ngFor="let appoints of appoints | filter:  date"
            #slidingItem
          >
            <ion-item
              [routerLink]="['/', 'appointments-details', appoints.id]"
              detail
            >
              <ion-card-header>
                <h2>{{appoints.date | date: 'shortTime'}}</h2>
                <h3>{{appoints.service}}</h3>
              </ion-card-header>
            </ion-item>
            <ion-item-options>
              <ion-item-option
                color="primary"
                (click)="onEdit(appoints.id, slidingItem)"
              >
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
